/* ============================= 主窗口 ==================================*/
QTreeView#resultWidget {
font-family: Consolas;
}

QPushButton{
/*.QPushButton{*/
  border-style: none;
  border: 0px;
  color: #F0F0F0;
  padding: 5px;
  min-height: 20px;
  border-radius:5px;
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #1B89CA, stop:1 #1077B5);
}

QPushButton:hover{
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #5CACEE, stop:1 #4F94CD);
}

QPushButton#pushButton:pressed{
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #1B89CA, stop:1 #1077B5);
}

QPushButton:disabled {
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #CFCED0, stop:1 #646464);
}

/* 在windows里，要使用下面的样式，才能改选中的项目的背景颜色 */
QTableView::item:selected, QListView::item:selected, QTreeView::item:selected {
  color: #F0F0F0;
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #1B89CA, stop:1 #1077B5);
}

QTableView::item:hover, QListView::item:hover, QTreeView::item:hover {
  color: #F0F0F0;
  background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #5CACEE, stop:1 #4F94CD);
}

/*
QTableView::item, QListView::item, QTreeView::item {
  padding: 5px;
  margin: 0px;
}
*/
